apiVersion: backstage.io/v1alpha1
kind: Resource
metadata:
  name: {{ values.name }}
  description: {{ values.description }}
  annotations:
    argocd/app-name: {{ values.name }}
    argocd/app-namespace: {{ values.argocdNamespace }}
spec:
  type: argocd-app
  owner: {{ values.owner }}
  system: {{ values.system }}
  dependsOn:
    - {{ values.serviceEntityRef }}
