apiVersion: backstage.io/v1alpha1
kind: User
metadata:
  name: ${{ values.userName }}
  description: User account for ${{ values.displayName }}
spec:
  profile:
    displayName: ${{ values.displayName }}
    email: ${{ values.email }}
  memberOf:
    - ${{ values.organization | replace('group:default/', '') }}
    - ${{ values.branch | replace('group:default/', '') }}
    - ${{ values.plane | replace('group:default/', '') }}
    - ${{ values.team | replace('group:default/', '') }}
