apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ values.name }}-extras
  namespace: {{ values.argocdNamespace }}
spec:
  project: {{ values.project }}
  source:
    repoURL: {{ values.extrasRepoUrl }}
    targetRevision: {{ values.extrasRevision }}
    path: {{ values.extrasPath }}
    directory:
      recurse: true
  destination:
    server: {{ values.destinationServer }}
    namespace: {{ values.destinationNamespace }}
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
